<div class="min-h-screen">
  <p class="mb-5 py-8 text-2xl font-italic text-center text-white bg-black"> Driver Dashbord</p>
    <div>
        <div id="map" style="height: 650px;"></div>
    </div> 
    <div>
        <div *ngIf="rideDetails" class="center-content">
            <h2 class="text-2xl font-bold">Ride Details</h2>
            <p>Start Location: {{ rideDetails.location }}</p>
            <p>End Destination: {{ rideDetails.destination }}</p>
        </div>
        <div class="ml-6 flex justify-center items-center padding-top">
          <button class="btn mr-3" (click)="openAcceptAssignmentModal()">Accept Ride</button>
      </div>
    </div>
</div>

<dialog id="accept_assignment_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg text-center">Accept Ride!</h3>
      <form class="card-body" (submit)="acceptRideRequest()">
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Current Location</span>
          </label>
          <input type="location" placeholder="location" class="input input-bordered" 
            [(ngModel)]="acceptRideFormData.location" name="location"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text font-bold">Estimated Arrival Time</span>
          </label>
          <input type="estimated_arrival_time" placeholder="estimated_arrival_time" class="input input-bordered" 
            [(ngModel)]="acceptRideFormData.estimated_arrival_time" name="estimated_arrival_time"
          />
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Accept ride</button>
        </div>
      </form>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn" (click)="closeAcceptAssignmentModal()">Close</button>
        </form>
      </div>
    </div>
</dialog>

<dialog id="pay_ride_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Hello</h3>
      <p class="py-4">Press ESC key or click the button below to close</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn" (click)="closeAcceptAssignmentModal()">Close</button>
        </form>
      </div>
    </div>
</dialog>



